<script>
  import Drawflow from "lib/drawflow";
  import graphStore from "stores/graphStore";
  import Node from "./Node.svelte";

  let editor = null;
  const initGraph = (node) => {
    editor = new Drawflow(node);
    editor.start();

    // Update Store
    graphStore.setEditor(editor);
  };
</script>

<div use:initGraph id="drawflow" class="graph">
  {#each $graphStore.nodes as node}
    <Node name={node.name} />
  {/each}
</div>

<style lang="scss">
  .graph {
    flex-grow: 4;
    flex-shrink: 1;
    flex-basis: 0%;
  }
</style>
