<script>
  import GraphEditor from "components/GraphEditor.svelte";
  import Node from "./Node.svelte";
  import Sidebar from "./Sidebar.svelte";
</script>

<div class="app-layout">
  <GraphEditor />
  <Sidebar />
</div>

<style lang="scss">
  .app-layout {
    display: flex;
    width: 100%;
    height: 100%;
  }
</style>
