<script context="module">
  let nodeId = 1;
</script>

<script>
  import graphStore from "stores/graphStore";
  import { onMount } from "svelte";
  import template from "./template.json";

  export let name = "";
  let elm = null;
  let inputsElm = null;
  $: editor = $graphStore.editor;
  const data = { name: "KRK" };

  onMount(() => {
    const newNode = editor.addStateNode(
      elm,
      inputsElm,
      name,
      2,
      3,
      150,
      300,
      name,
      data,
      elm.innerHTML
    );
    console.log(newNode);
  });
</script>

<div bind:this={elm} />

<div class="inputs" bind:this={inputsElm}>
  <div class="input input_1" />
  <div><h4>Some Text</h4></div>
  <div class="input input_2" />
</div>
