<script>
  import graphStore from "stores/graphStore";

  const addNode = () => {
      graphStore.addNode('New Node');
  };
</script>

<div class="sidebar">
  <button on:click={addNode}>Add Node</button>
</div>

<style>
  .sidebar {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;

    padding: 2em;
    background: #2a2a2d;
    border-left: solid 2px #36363b;
  }
</style>
