<script>
  import { provideStoreon } from "@storeon/svelte";
  import Layout from "components/Layout.svelte";
  import { storeon } from "stores/storeon";
  provideStoreon(storeon);
</script>

<Layout />
