@import url(drawflow/dist/drawflow.min.css);
@import url(milligram/dist/milligram.css);

html,
body,
#app,
#drawflow {
  width : 100%;
  height: 100%;

  input {
    display    : block;
    padding    : 0.5em;
    line-height: 1.2em;
    height     : unset;
    font-size  : 1.2em;
    background : #FFF;
    width      : auto;
    max-width  : 160px;
    margin     : 1em 0;
  }
}




:root {
  --dfBackgroundColor: rgba(45, 48, 50, 1);
  --dfBackgroundSize : 10px;
  --dfBackgroundImage: linear-gradient(to right, rgba(55, 58, 59, 1) 1px, transparent 1px), linear-gradient(to bottom, rgba(55, 58, 59, 1) 1px, transparent 1px);

  --dfNodeType           : flex;
  --dfNodeTypeFloat      : none;
  --dfNodeBackgroundColor: rgba(90, 97, 102, 1);
  --dfNodeTextColor      : rgba(227, 233, 237, 1);
  --dfNodeBorderSize     : 1px;
  --dfNodeBorderColor    : rgba(98, 108, 116, 1);
  --dfNodeBorderRadius   : 3px;
  --dfNodeMinHeight      : 40px;
  --dfNodeMinWidth       : 160px;
  --dfNodePaddingTop     : 15px;
  --dfNodePaddingBottom  : 15px;
  --dfNodeBoxShadowHL    : 0px;
  --dfNodeBoxShadowVL    : 0px;
  --dfNodeBoxShadowBR    : 6px;
  --dfNodeBoxShadowS     : 2px;
  --dfNodeBoxShadowColor : rgba(43, 45, 48, 1);

  --dfNodeHoverBackgroundColor: rgba(83, 91, 99, 1);
  --dfNodeHoverTextColor      : rgba(174, 182, 194, 1);
  --dfNodeHoverBorderSize     : 1px;
  --dfNodeHoverBorderColor    : rgba(42, 147, 225, 1);
  --dfNodeHoverBorderRadius   : 3px;

  --dfNodeHoverBoxShadowHL   : 0px;
  --dfNodeHoverBoxShadowVL   : 0px;
  --dfNodeHoverBoxShadowBR   : 12px;
  --dfNodeHoverBoxShadowS    : 1px;
  --dfNodeHoverBoxShadowColor: #4ea9ff;

  --dfNodeSelectedBackgroundColor: rgba(58, 66, 72, 1);
  --dfNodeSelectedTextColor      : rgba(191, 198, 207, 1);
  --dfNodeSelectedBorderSize     : 1px;
  --dfNodeSelectedBorderColor    : rgba(101, 152, 222, 1);
  --dfNodeSelectedBorderRadius   : 3px;

  --dfNodeSelectedBoxShadowHL   : 0px;
  --dfNodeSelectedBoxShadowVL   : 0px;
  --dfNodeSelectedBoxShadowBR   : 3px;
  --dfNodeSelectedBoxShadowS    : 1px;
  --dfNodeSelectedBoxShadowColor: #4ea9ff;

  --dfInputBackgroundColor: rgba(45, 128, 215, 1);
  --dfInputBorderSize     : 2px;
  --dfInputBorderColor    : rgba(150, 203, 241, 1);
  --dfInputBorderRadius   : 50px;
  --dfInputLeft           : -27px;
  --dfInputHeight         : 20px;
  --dfInputWidth          : 20px;

  --dfInputHoverBackgroundColor: rgba(13, 107, 183, 1);
  --dfInputHoverBorderSize     : 2px;
  --dfInputHoverBorderColor    : rgba(96, 195, 245, 1);
  --dfInputHoverBorderRadius   : 50px;

  --dfOutputBackgroundColor: rgba(231, 183, 81, 1);
  --dfOutputBorderSize     : 2px;
  --dfOutputBorderColor    : rgba(238, 230, 201, 1);
  --dfOutputBorderRadius   : 50px;
  --dfOutputRight          : -3px;
  --dfOutputHeight         : 20px;
  --dfOutputWidth          : 20px;

  --dfOutputHoverBackgroundColor: rgba(234, 152, 20, 1);
  --dfOutputHoverBorderSize     : 2px;
  --dfOutputHoverBorderColor    : rgba(239, 221, 79, 1);
  --dfOutputHoverBorderRadius   : 50px;

  --dfLineWidth        : 5px;
  --dfLineColor        : #4682b4;
  --dfLineHoverColor   : #4682b4;
  --dfLineSelectedColor: #43b993;

  --dfRerouteBorderWidth    : 2px;
  --dfRerouteBorderColor    : rgba(86, 166, 224, 1);
  --dfRerouteBackgroundColor: #ffffff;

  --dfRerouteHoverBorderWidth    : 2px;
  --dfRerouteHoverBorderColor    : #000000;
  --dfRerouteHoverBackgroundColor: #ffffff;

  --dfDeleteDisplay        : block;
  --dfDeleteColor          : #ffffff;
  --dfDeleteBackgroundColor: #000000;
  --dfDeleteBorderSize     : 2px;
  --dfDeleteBorderColor    : #ffffff;
  --dfDeleteBorderRadius   : 50px;
  --dfDeleteTop            : -15px;

  --dfDeleteHoverColor          : #000000;
  --dfDeleteHoverBackgroundColor: #ffffff;
  --dfDeleteHoverBorderSize     : 2px;
  --dfDeleteHoverBorderColor    : #000000;
  --dfDeleteHoverBorderRadius   : 50px;

}

#drawflow {
  background      : var(--dfBackgroundColor);
  background-size : var(--dfBackgroundSize) var(--dfBackgroundSize);
  background-image: var(--dfBackgroundImage);
}

.drawflow .drawflow-node {
  display           : var(--dfNodeType);
  background        : var(--dfNodeBackgroundColor);
  color             : var(--dfNodeTextColor);
  border            : var(--dfNodeBorderSize) solid var(--dfNodeBorderColor);
  border-radius     : var(--dfNodeBorderRadius);
  min-height        : var(--dfNodeMinHeight);
  width             : auto;
  min-width         : var(--dfNodeMinWidth);
  padding-top       : var(--dfNodePaddingTop);
  padding-bottom    : var(--dfNodePaddingBottom);
  -webkit-box-shadow: var(--dfNodeBoxShadowHL) var(--dfNodeBoxShadowVL) var(--dfNodeBoxShadowBR) var(--dfNodeBoxShadowS) var(--dfNodeBoxShadowColor);
  box-shadow        : var(--dfNodeBoxShadowHL) var(--dfNodeBoxShadowVL) var(--dfNodeBoxShadowBR) var(--dfNodeBoxShadowS) var(--dfNodeBoxShadowColor);
}

.drawflow .drawflow-node:hover {
  background        : var(--dfNodeHoverBackgroundColor);
  color             : var(--dfNodeHoverTextColor);
  border            : var(--dfNodeHoverBorderSize) solid var(--dfNodeHoverBorderColor);
  border-radius     : var(--dfNodeHoverBorderRadius);
  -webkit-box-shadow: var(--dfNodeHoverBoxShadowHL) var(--dfNodeHoverBoxShadowVL) var(--dfNodeHoverBoxShadowBR) var(--dfNodeHoverBoxShadowS) var(--dfNodeHoverBoxShadowColor);
  box-shadow        : var(--dfNodeHoverBoxShadowHL) var(--dfNodeHoverBoxShadowVL) var(--dfNodeHoverBoxShadowBR) var(--dfNodeHoverBoxShadowS) var(--dfNodeHoverBoxShadowColor);
}

.drawflow .drawflow-node.selected {
  background        : var(--dfNodeSelectedBackgroundColor);
  color             : var(--dfNodeSelectedTextColor);
  border            : var(--dfNodeSelectedBorderSize) solid var(--dfNodeSelectedBorderColor);
  border-radius     : var(--dfNodeSelectedBorderRadius);
  -webkit-box-shadow: var(--dfNodeSelectedBoxShadowHL) var(--dfNodeSelectedBoxShadowVL) var(--dfNodeSelectedBoxShadowBR) var(--dfNodeSelectedBoxShadowS) var(--dfNodeSelectedBoxShadowColor);
  box-shadow        : var(--dfNodeSelectedBoxShadowHL) var(--dfNodeSelectedBoxShadowVL) var(--dfNodeSelectedBoxShadowBR) var(--dfNodeSelectedBoxShadowS) var(--dfNodeSelectedBoxShadowColor);
}

.drawflow .drawflow-node .input {
  left         : var(--dfInputLeft);
  background   : var(--dfInputBackgroundColor);
  border       : var(--dfInputBorderSize) solid var(--dfInputBorderColor);
  border-radius: var(--dfInputBorderRadius);
  height       : var(--dfInputHeight);
  width        : var(--dfInputWidth);
}

.drawflow .drawflow-node .input:hover {
  background   : var(--dfInputHoverBackgroundColor);
  border       : var(--dfInputHoverBorderSize) solid var(--dfInputHoverBorderColor);
  border-radius: var(--dfInputHoverBorderRadius);
}

.drawflow .drawflow-node .outputs {
  float: var(--dfNodeTypeFloat);
}

.drawflow .drawflow-node .output {
  right        : var(--dfOutputRight);
  background   : var(--dfOutputBackgroundColor);
  border       : var(--dfOutputBorderSize) solid var(--dfOutputBorderColor);
  border-radius: var(--dfOutputBorderRadius);
  height       : var(--dfOutputHeight);
  width        : var(--dfOutputWidth);
}

.drawflow .drawflow-node .output:hover {
  background   : var(--dfOutputHoverBackgroundColor);
  border       : var(--dfOutputHoverBorderSize) solid var(--dfOutputHoverBorderColor);
  border-radius: var(--dfOutputHoverBorderRadius);
}

.drawflow .connection .main-path {
  stroke-width: var(--dfLineWidth);
  stroke      : var(--dfLineColor);
}

.drawflow .connection .main-path:hover {
  stroke: var(--dfLineHoverColor);
}

.drawflow .connection .main-path.selected {
  stroke: var(--dfLineSelectedColor);
}

.drawflow .connection .point {
  stroke      : var(--dfRerouteBorderColor);
  stroke-width: var(--dfRerouteBorderWidth);
  fill        : var(--dfRerouteBackgroundColor);
}

.drawflow .connection .point:hover {
  stroke      : var(--dfRerouteHoverBorderColor);
  stroke-width: var(--dfRerouteHoverBorderWidth);
  fill        : var(--dfRerouteHoverBackgroundColor);
}

.drawflow-delete {
  display      : var(--dfDeleteDisplay);
  color        : var(--dfDeleteColor);
  background   : var(--dfDeleteBackgroundColor);
  border       : var(--dfDeleteBorderSize) solid var(--dfDeleteBorderColor);
  border-radius: var(--dfDeleteBorderRadius);
}

.parent-node .drawflow-delete {
  top: var(--dfDeleteTop);
}

.drawflow-delete:hover {
  color        : var(--dfDeleteHoverColor);
  background   : var(--dfDeleteHoverBackgroundColor);
  border       : var(--dfDeleteHoverBorderSize) solid var(--dfDeleteHoverBorderColor);
  border-radius: var(--dfDeleteHoverBorderRadius);
}